body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  position: relative;
}
.wrapper .header {
  display: flex;
  flex: 1;
  position: fixed;
  padding: 1rem;
  width: 100%;
  background-color: white;
}
.wrapper .header > div a {
  text-decoration: none;
  padding-right: 2rem;
  align-self: center;
}
.wrapper .header > div a:hover {
  cursor: pointer;
  opacity: 0.5;
}
.wrapper .header-left {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
.wrapper .header-mid {
  flex: 1;
  display: flex;
  justify-content: center;
}
.wrapper .header-mid a {
  font-size: 2rem !important;
}
.wrapper .header-right {
  display: flex;
  flex: 2;
}
@media screen and (max-width: 600px) {
  .wrapper .header {
    display: none;
  }
}
.wrapper .introduce {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper .introduce .untreefolio {
  font-size: 3rem;
  color: blue;
}
.wrapper .introduce .introduce {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .wrapper .introduce {
    text-align: center;
    color: red;
  }
}
.wrapper .portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 50px 0;
}
.wrapper .portfolio .group-image {
  width: 70%;
  margin: 0 auto;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}
.wrapper .portfolio .group-image .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.wrapper .portfolio .group-image .column {
  flex: 32%;
  max-width: 32%;
  padding: 6px;
}
.wrapper .portfolio .group-image .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.wrapper .portfolio .group-image .column img:hover {
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  .wrapper .portfolio .group-image .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .portfolio .group-image .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.wrapper .profile {
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrapper .profile-content {
  width: 70%;
  display: flex;
}
.wrapper .profile-content-img {
  flex: 1;
  padding: 20px;
}
.wrapper .profile-content-info {
  flex: 1;
  padding: 20px;
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .wrapper .profile-content {
    display: flex;
    flex-direction: column;
  }
}
.wrapper .stats {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: aqua;
}
.wrapper .stats-content {
  text-align: center;
  width: 70%;
}
.wrapper .stats .spec {
  display: flex;
  justify-content: space-around;
}
.wrapper .stats .spec .element {
  padding: 10px;
}
.wrapper .stats .spec .element .number {
  font-size: 5em;
  color: blue;
}
@media screen and (max-width: 600px) {
  .wrapper .stats-content {
    text-align: center;
    width: 100%;
  }
  .wrapper .stats .spec {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 100%;
  }
}
.wrapper .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.wrapper .service .grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto;
  padding: 20px;
  width: 80%;
}
.wrapper .service .grid-item {
  border: 1px solid rgba(204, 173, 173, 0.8);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.wrapper .service .grid-item:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 5px #aaaaaa;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media screen and (max-width: 600px) {
  .wrapper .service .grid-container {
    grid-template-columns: auto;
  }
  .wrapper .service .grid-item {
    border: 1px solid rgba(216, 168, 168, 0.8);
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
}
.wrapper .contact {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 50px 0;
  flex-direction: column;
}
.wrapper .contact .contact-form {
  display: flex;
  width: 70%;
}
.wrapper .contact .contact-form .form {
  flex: 50%;
}
.wrapper .contact .contact-form .form .group-input input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}
.wrapper .contact .contact-form .info {
  flex: 50%;
  padding: 20px;
  text-align: center;
}
.wrapper .contact .contact-form .info * {
  margin: 20px 0;
}
@media screen and (max-width: 600px) {
  .wrapper .contact .contact-form {
    display: block;
  }
}
.wrapper .footer {
  display: block;
  background-color: blueviolet;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
